<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saarthi - Voice Assistant Application</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <div class="container">
    <h1>Saarthi - Voice Assistant over IVR</h1>
    <p>Saarthi is a powerful Flask application that acts as a voice assistant and chatbot. It allows users to interact
      with Saarthi by calling a designated IVR (Interactive Voice Response) number and engage in voice-based
      conversations. The application leverages transcription to convert speech to text, processes the text input using
      OpenAI's ChatGPT API, generates contextually relevant responses, and converts them back to speech using Twilio.
      Saarthi provides a seamless and intuitive voice interface, enabling users to continue conversations until they hang
      up the call. The application's flexibility and customization options make it suitable for a wide range of
      applications, while contributions are welcome to enhance its features and performance. For more information,
      <a href="/call">click here</a> to call Saarthi.</p>

    <h2>Prerequisites</h2>
    <ul>
      <li>Python 3.x installed</li>
      <li>A Twilio account and a phone number with voice capabilities</li>
      <li>An OpenAI API key</li>
      <li>Flask and other required dependencies installed (check requirements.txt)</li>
    </ul>

    <h2>Installation</h2>
    <div class="code">
      <ol>
        <li>Clone the repository:
          <pre><code>git clone https://github.com/RoyalMamba/MeraSaarthi.git</code></pre>
        </li>

        <li>Change into the project directory:
          <pre><code>cd MeraSaarthi</code></pre>
        </li>

        <li>Install the required dependencies:
          <pre><code>pip install -r requirements.txt</code></pre>
        </li>

        <li>Set up the environment variables:
          <ul>
            <li><span class="highlight">ACCOUNT_SID</span>: Your Twilio account SID</li>
            <li><span class="highlight">AUTH_TOKEN</span>: Your Twilio authentication token</li>
            <li><span class="highlight">OPENAI_API</span>: Your OpenAI API key</li>
          </ul>
        </li>

        <li>Start the Flask application:
          <pre><code>python main.py</code></pre>
        </li>
      </ol>
    </div>

    <h2>Usage</h2>
    <ol>
      <li>Ensure the Flask application is running.</li>
      <li>Configure your Twilio phone number's voice URL to point to
        <span class="highlight">the deployed URL or ngrok URL followed by /call</span>.</li>
      <li>Call the Twilio phone number and interact with Saarthi by speaking.</li>
      <li>Saarthi will convert your speech to text using transcription, process it using the ChatGPT API, generate a
        response, and convert it back to speech using Twilio.</li>
      <li>Continue the conversation with Saarthi until you hang up the call.</li>
    </ol>

    <h2>Customization</h2>
    <ul>
      <li>You can customize the welcome message, voice prompts, and conversation flow by modifying the respective
        TwiML responses in the <span class="highlight">main.py</span> file.</li>
      <li>The behavior of the ChatGPT API can be modified to fine-tune the responses generated by Saarthi. Refer to the
        OpenAI documentation for more details on customizing the chat model.</li>
    </ul>

    <h2>Contributing</h2>
    <p>Contributions to Saarthi are welcome! If you encounter any issues or have suggestions for improvements, please
      open an issue or submit a pull request.</p>

    <div class="creators">
    <h2>Creators</h2>
    <ul>
        <li>
        <span class="name"><strong>Reetik Gupta</strong></span>
        <span class="social-links">
            <a href="https://github.com/Reetik07" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/reetik-gupta/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <!-- <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a> -->
            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        </span>
        </li>
        <li>
        <span class="name"><strong>Saurabh R Yadav</strong></span>
        <span class="social-links">
            <a href="https://github.com/RoyalMamba" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/saurabh-yadav-92154922a/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <!-- <a href="https://instagram.com/https://instagram.com/saurabh_.r._yadav?igshid=MjAxZDBhZDhlNA==" target="_blank"><i class="fab fa-instagram"></i></a> -->
            <a href="https://twitter.com/ysaurabh059" target="_blank"><i class="fab fa-twitter"></i></a>
        </span>
        </li>
    </ul>
    </div>

    <h2>License</h2>
    <p>This project is licensed under the <a href="https://github.com/RoyalMamba/MeraSaarthi/blob/main/LICENSE">MIT
        License</a>.</p>
  </div>
</body>

</html>
